body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* ALTERAÇÃO */
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  color: #2c3e50;
  font-family: inherit; /* garante herdar a fonte do body */
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: inherit; /* garante herdar a fonte do body */
}

nav a:hover {
  text-decoration: underline;
}
