body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  color: #2c3e50;
}

input {
  padding: 8px;
  width: 250px;
  margin-bottom: 15px;
}

.produto {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.avaliacao{
  margin-top: 8px;
  font-size: 14px;
}

.avaliacao button{
  margin-right: 5px;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
