body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fa;
  color: #212529;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: 600;
  color: #212529;
  font-family: inherit;
}

.topo, .filtros, .busca {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: inherit;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}

#map {
  width: 100%;
  height: 400px;  /* ESSENCIAL */
  margin-top: 10px;
  border: 2px solid #212529;
  border-radius: 6px;
}
.btn-inserir-preco{
  margin-top: 6px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #999;
  background: #fff;
  cursor: pointer;
}
